@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}


.headertop {
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    padding: 10px 23px;

}

.headertop>a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

.headerbottom {
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
}

.headerbottom>a {
    text-decoration: none;
    color: black;
    padding: 10px 24px;
}

.searchform {
    padding: 10px;
    position: relative;
    right: -412px;
    
}

#search-box{
    border: 1px solid black;
    padding: 5px;
}